* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  font-size: 62.5%;

  font-family: Inter, sans-serif;
  color: rgba(255, 255, 255, 0.87);

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
}

body {
  font-size: 1.6rem;
  background: #121214;

  display: flex;
  place-items: center;

  min-height: 100vh;
}

.flex {
  display: flex;
}

#app {
  display: grid;
  justify-content: center;
  gap: 3.2rem;

  width: 90%;
  max-width: 42rem;
  margin: 0 auto;

  padding: 2.8rem 6rem 4rem;
  background: #202024;
  border: 0.1rem solid #323238;
  border-radius: 0.6rem;
}

#app header {
  display: flex;
  align-items: center;
}

#modal-dialog {
  position: absolute;
  z-index: 999;
  left: 50%;
  transform: translateX(-50%);

  padding: 5rem;
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;
  gap: 10px;

  background-color: #121214dd;
  border: none;

  width: 100%;
  height: 100%;
}

#modal-dialog h1 {
  color: #27eeb3;
  padding: 8px;
}

#modal-dialog button {
  padding: 1rem 6rem;
  font-size: 16px;
  font-weight: bolder;
  border: none;
  background: #f75a68;
  color: #fefefe;
  border-radius: 4px;
  cursor: pointer;
}

#modal-dialog button:hover {
  opacity: 0.95;
}

.hidden {
  visibility: hidden;
}
